<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIZM-BANK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/signup.css">

</head>
<body>
    
    <div id="head1" class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-12">
                <h1 id="logo1">PRIZM</h1>
                <p>The People's Bank</p>
            </div>
    
        </div>
    
    
    </div>




    <!-- main/login -->
    
    
    
    <div id="main1" class="container-fluid">
        <div class="row">
    
            <div class="col-sm-6">
                <div id="card1" class="card" style="max-width: 18rem;">
                    <div class="card-body">
    
                        <form action="/signup" method="POST">
                        
                            <input class="s1" type="text" name="fullname" placeholder="Fullname">
                            <input class="s1" type="text" name="username" placeholder="Username">
                            <input class="s1" type="text" name="email" placeholder="Email">
                            <input class="s1" type="text" name="password" placeholder="Password">
                            </br>
                            <button id="sign-button" type="submit" class="btn btn-danger">Signup</button>
                        
                        </form>

    
                    </div>
    
                    
    
                </div>
    
            </div>
    
    
    
            <div class="col-sm-6 text-center">
                
                     
            
                <p class="p1">* FOR DEMO USE ONLY DO NOT ENTER SENSITIVE INFORMATION</p>
                
               
    
    
    
            </div>
        </div>
    
    
    
    </div>






   





    <!-- Footer -->
    
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-12">
                <p id="footer-logo">2021 Awakening Inc®</p>
            </div>
        </div>
    
    </div>





</body>
</html>